_site
.sass-cache
.jekyll-metadata
*.swp
*.swo
*.DS_store
*.aux
*.out
.bundle
vendor
**/__pycache__/**
**/.vscode/**
**/*.egg-info/**
/*.html
/static/**
__pycache__/
*.py[cod]
*$py.class

.DS_Store
.env
.flaskenv
env/
venv/
env*
dist/
build/
*.egg
*.egg-info/
.cache/
.pytest_cache/

docs/_build/
.idea/
.vscode/

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
